/MainClass/target/
/SAortinglgorithms/target/
/JavaCore1-exercise3/target/
/JavaCore1-exercise4/target/
/javaCore1_regulerExpressions/target/
/Java_wsing_JFrame/target/
/sScartJavaUcollection/target/
/allCollection/target/
/Project/target/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/productSwing/nbproject/private/
/productSwing/build/
/Shopping/nbproject/private/
/Shopping/build/
/dar/nbproject/private/
/ManageCafe/target/
/lab_07/target/
/lads_07/nbproject/private/
/lads_07/build/